TELEGRAM_BOT_TOKEN=replace_with_inch_asana_notificaitons_bot_token
BOT_USERNAME=inch_asana_notificaitons_bot

ASANA_ACCESS_TOKEN=replace_with_asana_pat
ASANA_PROJECT_GID=1214101654879689
ASANA_POLL_INTERVAL_SECONDS=60

# leave empty to auto-learn from first incoming message to this bot
TARGET_CHAT_IDS=
TARGET_CHAT_TITLES=Digital Nudge - Finance

STATE_FILE=./inch-asana-notify-state.json
